version: "3.8"

services:
  nuxt:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: salimify-blog-nuxt
    expose:
      - "3001"
    environment:
      - NODE_ENV=production
      - STRAPI_BACKEND=${STRAPI_BACKEND}
    restart: unless-stopped
    networks:
      - npm_network

networks:
  npm_network:
    external: true
